.letter {
  margin-top: 2.5vh;
  margin-left: 1vh;
  width: 3vw;
  height: 4.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid gray;
  font-size: 1.5vw;
}
.colors {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.input-color {
  width: 10px;
  height: 10px;
  background-color: yellow;
}
.input-color-green {
  width: 10px;
  height: 10px;
  background-color: green;
}
.app-con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.buttons {
  margin-top: 1vh;
  padding: 10px 15px;
  background-color: rgb(111, 0, 255);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 2vw;
}
.empty {
  border: 2px solid gray;
  color: white;
}
.correct {
  background-color: green;
  color: white;
}
.present {
  background-color: yellow;
  color: black;
}
.absent {
  background-color: gray;
  color: white;
}
.rows {
  display: flex;
  flex-direction: row;
  font-size: 1.5vw;
}
.green {
  color: green;
}
.red {
  color: red;
}
